<ion-view view-title="Mural Details">
    <ion-content style="background-color:#444" scroll="false">
        <a class="button button-icon button-clear ion-chevron-left" ng-click="closeModal()" style="position: absolute;
font-size: 26px;color: white;opacity: 1.0;top:20px;left:7px;"></a>
        <img src="img/mural.png" height="100%" />
        <div class="mural_footer">
                <div class="pro_pic">
                  <img class="pro_pic_img" src="img/carla.png" />
                </div>
                <h4>Carla Simpson</h4>
                <div class="icons mural_details_icons">
                    <div class="hand-up text-10-gray">
                        <img src="img/hand-up-grey.png" />
                      <span>0</span>
                    </div>
                    <div class="text-10-gray">
                        <img class="heart" src="img/heart.png" />
                      <span class="text-heart">1010</span>
                    </div>
                    <div class="hand-down text-10-gray">
                        <img src="img/hand-down-grey.png" />
                      <span>0</span>
                    </div>
                    <div class="text-10-gray">
                        <img class="comments" src="img/commetns-grey.png" /><div class="text-comments">
                      <span>0</span>
                    </div>
                    </div>
                 </div>
        </div>
    </ion-content>
</ion-view>
