<ion-view cache-view="false" view-title="Search">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left" style="color:white" ng-click="go('app/main/home')"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" style="padding-top:10px;padding-bottom:10px;">
            <label class="item item-input" style="border-width:0px;" focus-me>
                <input type="text" placeholder="Search Triby">
            </label>
        </div>
    </ion-content>
</ion-view>
